body {
    background: #F1EEC5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #77CCA4;
    text-align: center;
}

p {
	color: #373737;
}

.assignments {
	display: flex;
	flex-wrap: wrap;
}

.assignment {
	width: 20%;
	padding: 10px;
	margin: 10px;
	margin-bottom: 30px;
	background: #827551;
	border-radius: 5px;
	box-shadow: 5px 7px #373737;
}

.assignment img {
	width: 200px;
	height: 200px;
	border: 3px solid #FECC99;
	margin-right: 20px;
	border-radius: 5px;
	display: block;
	margin: auto;
}

.assignment a:hover {
	color: #FECC99;
}

#hearts {
    color: #FECC99;
    text-align: center;
}

a {
	text-decoration: none;
	color: #BBC793;
}