body {
    background: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkcyan;
    text-align: center;
}

#hearts {
    color: darkcyan;
    text-align: center;
}